* {
	box-sizing:border-box;
	-webkit-user-select: none;
}
.selectable {-webkit-user-select: text;}
.noninteractable {pointer-events: none;}

body{
	font-size:12px;
	color:#252525;
	padding: 0;
	margin: 0;
	text-shadow: none;
	font-family: Arial, sans-serif;
	font-weight: 700;
	overflow-x:hidden;
	background: #efefef;
	width: 600px;
	height: 600px;
	box-sizing:border-box;
}
.unscrollable {overflow: hidden;}

a, .link{
	text-decoration: none;
	cursor:pointer;
	color: #448aff;
	font-weight: 500;
}
#version {
    position: relative;
    display: inline-block;
    left: 50%;
    width: 150px;
	height: 75px;
    margin: -7px auto 10px -75px;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    line-height: 13px;
    color: #777;
    cursor: default;
}
#version a {color: #3178B1;}
#version a:hover {color: #16334A;}

#header_title {padding-left: 18px;}
#header_title .mdl-layout-title {margin-left: 5px;}
#header_img {height: 32px;}
#button-menu-container {
	box-sizing: border-box;
	position: absolute;
	top: 12px;
	right: 16px;
}
#button-menu-container .mdl-menu__container {
	margin-top: -30px;
	pointer-events: none;
}
#button-menu-container .mdl-menu__container:nth-of-type(3) {
	margin-top: -55px;
}
#button-menu-container .mdl-menu__container.is-visible {pointer-events: auto;}
#menu_changeAlignment[data-toggle="false"]:after {content: "__MSG_settings_vertSettings_channelAlignment__";}
#menu_changeAlignment[data-toggle="true"]:after {content: "__MSG_settings_vertSettings_channelAlignment2__";}
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {background: #FFEB3B;}
main {
	margin: 3px 0;
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}
#popup_overlay.overlay {
	top: 0;
	z-index: 20
}
.main_card {
	width: 572px;
	margin: 13px 15px 15px;
	min-height: initial;
}
#channels, #settings {
	display: flex;
	flex-direction: column;
	width: 100%;
}
#channels {
	display: table;
}
.channelRow, .settingRow {
    display: flex;
	align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid #EEE;
	font-size: 14px;
	font-weight: bold;
}
.channelRow.editable * {cursor: move;}
.channelRow:last-child, .settingRow:last-child {border: none;}

.settingColumn > .label:after {content: ":";}
.settingColumn {
	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow: visible;
	flex-grow: 1;
   	padding: 0 5px;
}
.settingColumn:first-child {
	padding-left: 0;
	flex-grow: 1000;/*TESTING*/
}
.settingColumn .mdl-slider__container * {
	margin: 0;
}
.settingColumn .mdl-slider__container {
	width: 120px;
	margin: 0 -30px 0 10px;
}
.settingColumn .mdl-switch {
	 margin-left: 5px;
}
.channelColumn:nth-child(2) {
	 min-width: 175px;
 }
.channelColumn:nth-child(4) {
	vertical-align: middle;
	line-height: 20px;
	padding: 5px;
	width: 230px;
	max-width: 230px;
	min-width: 230px;
}
.channelColumn:nth-child(5) {
	vertical-align: top;
}
.channel_img {
	width: 50px;
	height: 50px;
	background: url(../img/avatar_placeholder.png);
	background-size: 50px;
}
.channel_video_img {
	width: 66.66px;
	height: 50px;
	background: url(../img/notification_placeholder_small.png);
}
.channel_author {
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
	max-width: 150px;
	color: #00F;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.channel_author_info {
	display: none;
}
.channelRow[data-isplaylist="true"] .channel_author_info {
	display: block;
	margin-left: 5px;
	color: rgba(0, 0, 255, 0.5);
	max-width: 150px;
}
.channelRow[data-isplaylist="true"] .channel_author_info span:first-child {display: none;}
.channelRow[data-isplaylist="true"] .channel_author_info span:last-child {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.channel_video_title {
	display: block;
	max-width: 230px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.channel_video_time {
	display: block;
	color: #838383;
}
.channel_a, .channel_video_a {
    position: absolute;
    display: block;
    width: 100%;
    height: 45px;
}
.channel_remove_btn {
	min-width: inherit;
	height: 23px;
	line-height: 20px;
	width: 25px;
	font-size: 12px;
	margin-top: 2px;
	background: #d60000!important;
	cursor: pointer!important;
	padding: 0;
}
.channel_remove_btn .mdl-button__ripple-container{cursor: pointer!important;}
.channel_info_btn {
    min-width: inherit;
    height: 23px;
    line-height: 20px;
    width: 25px;
    font-size: 12px;
    margin-top: 2px;
    background: #2196F3!important;
    text-transform: lowercase;
	padding: 0;
}
#add_channels-fab {
	position: fixed;
	right: 20px;
	bottom: 20px;
	color: #FFFFFF;
	background: #2196F3;
	z-index: 10;
	box-shadow: 0 0 10px rgba(115, 115, 115, 0.75);
}
#add_channels-dialog, #changelog-dialog, #import_channels-dialog, #import_channels_selection-dialog {
	position: fixed;
	left: 125px;
	top: 110px;
	z-index: 110;
}
#add_channels-dialog.mdl-card, #changelog-dialog.mdl-card, #import_channels-dialog.mdl-card, #import_channels_selection-dialog.mdl-card {width: 350px;}
#add_channels-dialog > .mdl-card__title, #changelog-dialog > .mdl-card__title, #import_channels-dialog > .mdl-card__title, #import_channels_selection-dialog > .mdl-card__title {
	color: #fff;
	height: 176px;
	background: url("../img/welcome_card.jpg") center / cover;
}
#add_channels-dialog > .mdl-card__menu, #changelog-dialog > .mdl-card__menu, #import_channels-dialog > .mdl-card__menu, #import_channels_selection-dialog > .mdl-card__menu {color: #fff;}
#add_channels-more-button, #changelog-close-button, #import_channels-close-button, #import_channels-import-button {
					 float: right;
}
#add_channels-container[data-toggle="false"], #changelog-container[data-toggle="false"], #import_channels-container[data-toggle="false"], #import_channels_selection-container[data-toggle="false"] {opacity: 0;}
#add_channels-container[data-toggle="true"] {opacity: 1;}
#add_channels-dialog .mdl-card__supporting-text, #changelog-dialog .mdl-card__supporting-text {
	overflow-y: auto;
	width: 100%;
	height: 151px;
}
#import_channels-contentTitle, #import_channels-overRecommended, #import_channels-duplicateInfo, #import_channels_selection-contentTitle{
	display: block;
}
#import_channels-contentTitle, #import_channels_selection-contentTitle {
	font-weight: bold;
	font-size: 16px;
	padding: 0 0 10px;
	text-align: center;
}
#import_channels-overRecommended:after {
	content: "\a\a";
	white-space: pre;
}
#import_channels-duplicateInfo:after {
	content: "\a\a";
	white-space: pre;
}
#import_channels-dialog ul {
	margin-top: 5px;
}
#import_channels-dialog .mdl-card__supporting-text {
	width: 100%;
}

#settings_refresh, #settings_import {
	width: 100%;
	background: #8BC34A;
}
#settings_import.double, #settings_import_changeUser {
	width: 50%;
	margin-right: 5px;
}
#settings_import_changeUser {
	background: #6C6AEC;
	margin-right: 0;
	margin-left: 5px;
}
.mdl-switch.is-checked .mdl-switch__track {background: rgba(244, 67, 54, 0.5);}
.mdl-switch.is-checked .mdl-switch__thumb, .mdl-switch__ripple-container .mdl-ripple, .mdl-slider__background-lower {background: #F44336;}
#settings_tts_select,
#settings_sound_list {
	width: 150px;
	margin-left: 5px;
}

#popup_card {
    width: 572px;
    min-height: initial;
    height: 70px;
    margin: 15px;
    position: fixed;
    top: 248px;
	overflow-y: auto;
    z-index: 30;
}
#popup_card .channelRow {
	border: none;
}
#popup_card[data-toggle="true"] .channelRow {
	display: block;
}
#popup_card[data-toggle="true"] .channelColumn:nth-child(1), #popup_card[data-toggle="true"] .channelColumn:nth-child(2) {
	min-width: initial;
	display: block;
}
#popup_card[data-toggle="true"] .channelColumn:nth-child(1) .channel_a {
	height: 125px;
}

#popup_card[data-toggle="true"] .channelColumn:nth-child(1) .channel_img {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	max-width: initial;
	background-size: 100px;
}

#popup_card[data-toggle="true"] .channelColumn:nth-child(2) .channel_author {
	display: block;
	max-width: initial;
	margin: 5px auto;
	color: #000;
	font-size: 22px;
	text-align: center;
}
#popup_card[data-toggle="true"] .channelColumn:nth-child(2) .channel_author_info {
    color: #868686;
    display: block;
    text-align: center;
	max-width: initial;
}
#popup_card[data-toggle="true"] .channelRow[data-isplaylist="true"] .channel_author_info span:first-child,
#popup_card[data-toggle="true"] .channelRow[data-isplaylist="true"] .channel_author_info span:last-child {
	display: inline-block;
	white-space: pre;
	vertical-align: middle;
}
#popup_card[data-toggle="true"] .channelColumn:nth-child(4) {
	width: 100%;
}
#popup_card[data-toggle="true"] .channelColumn:nth-child(5) {
	position: absolute;
	top: 10px;
	right: 5px;
}
#popup_card[data-toggle="true"] .channelColumn:nth-child(5) .channel_remove_btn {
	position: absolute;
}
#popup_card[data-toggle="false"] #popup_videoList {
	display: none;
}
#popup_loading {
	display: none;
	position: fixed;
	top: calc(50% - 14px + 52px);
	left: calc(50% - 14px);
}
#popup_videoList a {
	color: #000;
	font-weight: bold;
}
.videoListColumn {
    display: inline-block;
    vertical-align: middle;
}

.videoListRow {
	display: block;
	padding: 10px 15px;
	border-top: 2px solid #EEE;
	font-size: 14px;
	font-weight: bold;
}

.videoListRow:last-child {
    border-bottom: 2px solid #EEE;
}

.videoListColumn:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 185px;
    max-width: 185px;
}
.videoListColumn:nth-child(3) {
    max-width: 272px;
	margin-left: 5px;
	letter-spacing: -0.5px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.videoList_img {
	width: 66.66px;
	height: 50px;
	background: url(../img/notification_placeholder_small.png);
}
.videoList_sub {
    display: block;
    color: #838383;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,0.4);
}

#version-updated {
	display: none;
	color: #FFF!important;
	position: absolute;
	right: 55px;
	top: 10px;
}
.card-header {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}
#popup_videoList_more_container {
	padding: 10px 15px;
	border-top: 2px solid #EEE;
}
#popup_videoList_more {
	width: 100%;
	background: #2196F3;
}
#search-textbox {
	width: 150px;
	padding: 8px 0 0 0;
}
#search-input {
	padding: 0 30px 0 0;
	border-bottom: 1px solid #FFFFFF;
}
#search-textbox .mdl-textfield__label {
	top: initial;
	color: rgba(255, 255, 255, 0.65);
	font-weight: 300;
}
#search-btn {
	position: absolute;
	right: 35px;
	top: -1px;
}
#demo-menu-lower-right {
	margin-top: -8px;
}

#emptyChannelsList {
	text-align: center;
	color: #b3b3b3;
	height: 380px;
}
#emptyChannelsList_content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	cursor: default;
}
#emptyChannelsList_header {
	display: block;
	font-size: 20px;
	vertical-align: middle;
	margin-bottom: 5px;
}
#emptyChannelsList_subheader span {
	cursor: pointer;
	color: #2c5598;
}

#emptyChannelsList_subheader {
	display: block;
	font-size: 12px;
}
#emptyChannelsList[data-type="1"] #emptyChannelsList_subheader {display: none;}
#emptyChannelsList_content i.material-icons {
	font-size: 100px;
	line-height: 0;
}

#import_channels_selection-dialog {
	top: 40px;
	left: 80px;
	width: 450px!important;
	height: 510px;
}

#import_channels_selection-container .mdl-card__supporting-text {
	position: relative;
	width: 100%;
	padding: 0;
	height: 100%;
}

#import_channels_selectionList {
	height: calc(100% - 28px);
	padding: 5px 10px 0;
	margin: 0 5px;
	overflow-y: auto;
}

#import_channels_selectionList .mdl-list__item {
	padding: 0 10px;
	white-space: nowrap;
	cursor: pointer;
	border-bottom: 1px solid #EEE;
}
#import_channels_selectionList .mdl-list__item:last-child {border-bottom: none;}

.import_channels_selectionRow-title {
	max-width: 305px;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

#import_channels_selectionList .mdl-list__item:hover {
	background: rgba(0, 0, 0, 0.05);
}

#import_channels_selection-contentTitle {
	padding: 5px 0;
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.25);
}

.import_channels_selectionRow-val {
	pointer-events: none;
}

#import_channels_selection-close-button,
#import_channels_selection-import-button {
	float: right;
}

#menu_sortMode_container {
	position: absolute;
	right: 15px;
}
#menu_sortMode_container .mdl-menu__container {/* For some god damn reason, your network speed changes the div layout. Switching to Polymer */
	margin-top: -30px;
}
#menu_sortMode_container .mdl-menu__container:nth-of-type(3) {
	margin-top: -55px;
}
#button-menu-container {

 }
.mdl-radio_menu {
	top: -17px;
}

button.mdl-button:not(.mdl-button--fab, .mdl-button--icon) .material-icons {
	margin: 0 7px 0 -3px;
}

.import_channels_selectionRow-img {
	height: 30px;
	width: 30px;
	border-radius: 0;
	background: none;
}

#import_channels_noChannelsFound {
	display: none;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

#import_channels_noChannelsFound span {
	display: block;
	font-size: 22px;
	line-height: 32px;
}

#import_channels_noChannelsFound i.material-icons {
	font-size: 80px;
}

/* SNACKBAR */
.paper-snackbar{transition-property:opacity,bottom,left,right,width,margin,border-radius;transition-duration:.5s;transition-timing-function:ease;font-family:Arial;font-weight:normal;font-size:14px;min-height:14px;background-color:#323232;position:absolute;justify-content:space-between;align-items:center;color:#fff;line-height:22px;padding:18px 24px;opacity:0;min-width:288px;max-width:568px;display:inline-flex;border-radius:2px;margin:24px;bottom:-100px;z-index:100}.paper-snackbar .action{background:inherit;display:inline-block;border:none;font-size:inherit;text-transform:uppercase;color:#ffeb3b;margin:0 0 0 24px;padding:0;min-width:min-content}.paper-snackbar .action:hover{cursor: pointer;}.paper-snackbar .action:focus{outline:none;}
