html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Roboto, "Segoe UI", sans-serif;
}
body {
	background: #FFF;
	overflow: hidden;
	line-height: normal;
}
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
a {
	text-decoration: none;
	color: #FFF;
	-webkit-transition: color 0.3s;
}
a:hover {
	color: #585858;
}
#header {
	padding-top: 100px;
}
#header-intro {
	text-align: center;
	font-size: 42px;
	line-height: 20px;
	color: #737373;
	font-weight: 100;
}
#header-title {
	margin-top: 20px;
	text-align: center;
	font-weight: 300;
	display: inline-block;
}
#header-title span, #header-title img {
	vertical-align: middle;
}
#header-title span {
	margin-left: 10px;
	text-align: center;
	font-size: 62px;
}
#header-title img {
	height: 100px;
}
#credits {
	float: right;
	color: #FFF;
	font-size: 14px;
	vertical-align: middle;
	line-height: 35px;
}
#content {
	margin-top: 150px;
	text-align: center;
}
#content-1, #content-2 {
	vertical-align: top;
}
#get-started, #content-1-next, #content-2-next, #content-3-next, #content-4-next {
	cursor: pointer;
	font-size: 60px;
	font-weight: 300;
	display: none;
}
#add-channel-1, #add-channel-2, #add-channel-3, #add-channel-4 {
	vertical-align: middle;
}
#add-channel-1 {
	height: 750px;
}
#content-1-rightnext, #content-2-rightnext, #content-3-rightnext, #content-4-rightnext {
	cursor: pointer;
	margin-left: 20px;
	font-size: 64px;
	color: #AAA;
	-webkit-transition: color 0.3s;
}
#content-1-rightnext:hover, #content-2-rightnext:hover, #content-3-rightnext:hover, #content-4-rightnext:hover {
    color: #353535;
}
.content-header {
	font-size: 40px;
	font-weight: 300;
	white-space: nowrap;
}

.content-subheader {
	font-size: 24px;
	white-space: nowrap;
	margin-bottom: 5px;
}
.content-subheader a {
	color: #9C0000;
}
.content-subheader a:hover {
	color: #F00;
}